<div style="display: flex; justify-content:center; align-items:center; padding-top:5%">
    <div style="border: 1px solid grey; padding:10%">

      <h2 style="font-size: 2rem; text-align:center;">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", style:"width:100%" %>
        </div>

        <div class="field">
          <%=f.label :username%><br/>
          <%= f.text_field :username, style:"width:100%" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", style:"width:100%" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", style:"width:100%" %>
        </div>

        <div class="field">
          <%= f.radio_button :role, 'employee', id:"role_employee" %>
          <%= f.label :role_employee, 'employee' %>

          <%= f.radio_button :role, 'admin' %>
          <%= f.label :role_admin, 'admin', id:"role_admin" %>
        </div>

        <div class="actions" style="display: flex; justify-content:center; align-items:center; margin: 30%;">
          <%= f.submit "Sign up", style:"height:2rem; width:5rem" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
</div>