<div id="<%= dom_id book %>" class="book-info">

    <p class="book-title"><%=book.title%></p>
    <p class="book-description"><%=book.description%></p>
    <p class="book-author"><%=book.author%></p>
    <p class="book-publish-date"><%=book.publish_year%></p>

</div>
